@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


@import "tailwindcss";




* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:400 px;
  font-style: normal;
}

::-webkit-scrollbar{
  display:none;
  
}